<div class="row">
  <div class=" col-md-4 col-md-3 col-sm-4 my-5"  >
  <span class="px-4">  <i class="fas fa-bars"></i></span>
  <span>  <i class="fas fa-search"></i></span>
  </div>
  <div class="col-md-4 col-md-3 col-sm-4" ><p>JOHN</p></div>
  <div class="col-md-4 col-md-3 col-sm-4 my-5"  >
    <span class="social-network-icon px-1">
      <i class="fab fa-facebook-square"></i>
    </span>
    <span class="social-network-icon px-1 ">
      <i class="fab fa-twitter-square"></i>
    </span>

    <span class="social-network-icon px-1">
      <i class="fab fa-youtube-square"></i>
    </span>

    <span class="social-network-icon px-1">
      <i class="fab fa-instagram-square"></i>
    </span>

    <span class="social-network-icon px-1">
      <i class="fab fa-facebook-square"></i>
    </span>

    <span class="social-network-icon px-1">
      <i class="fab fa-facebook-square"></i>
    </span>


  </div>
</div>
