<ul>
  <li   routerLinkActive="active"><a href="#home"  [routerLink]="['/main/post']">Home</a></li>
  <li routerLinkActive="active"><a href="#news"  [routerLink]="['/main/politic']">Politic</a></li>
  <li routerLinkActive="active"><a href="#contact" [routerLink]="['/main/business']">Business</a></li>
  <li routerLinkActive="active"><a href="#about" [routerLink]="['/main/sport']">Sport</a></li>
  <li   routerLinkActive="active"><a href="#about"  [routerLink]="['/main/culture']">Culture</a></li>
</ul>
